
<H1 LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.25in; page-break-before: always">
<B>1.</B> <B>ОПИС НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</B></H1>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<TABLE WIDTH=639 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=178>
	<COL WIDTH=203>
	<COL WIDTH=94>
	<COL WIDTH=4361>
	<COL WIDTH=100>
	<TR>
		<TD ROWSPAN=2 WIDTH=178 HEIGHT=39 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Найменування
			показників </FONT>
			</P>
		</TD>
		<TD ROWSPAN=2 WIDTH=203 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Галузь
			знань, напрям підготовки,
			освітньо-кваліфікаційний рівень</FONT></P>
		</TD>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Характеристика
			навчальної дисципліни</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=94 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>денна
			форма навчання</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>заочна
			форма навчання</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 WIDTH=178 HEIGHT=13 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Кількість
			кредитів – </FONT>
			</P>
		</TD>
		<TD WIDTH=203 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Галузь
			знань</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>_______________</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">(шифр
			і назва)</FONT></P>
		</TD>
		<TD ROWSPAN=2 COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Нормативна</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>/ за
			вибором</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=203 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Напрям
			підготовки </FONT>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>_______________</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">(шифр
			і назва)</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=178 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Модулів – </FONT>
			</P>
		</TD>
		<TD ROWSPAN=5 WIDTH=203 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Спеціальність:</FONT></P>
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>_____________________</FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Рік
			підготовки</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=178 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Змістових
			модулів – </FONT>
			</P>
		</TD>
		<TD WIDTH=94 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>-й</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>-й</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=178 HEIGHT=1 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Індивідуальне
			науково-дослідне завдання ___________</FONT></P>
			<P LANG="ru-RU" CLASS="western">            <FONT SIZE=3><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="uk-UA">(назва)</SPAN></FONT></FONT></P>
		</TD>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Семестр</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 WIDTH=178 HEIGHT=8 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Загальна
			кількість годин –  </FONT>
			</P>
		</TD>
		<TD WIDTH=94 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>-й</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>-й</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Лекції</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=11 WIDTH=178 HEIGHT=6 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Тижневих
			годин для денної форми навчання:</FONT></P>
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>аудиторних
			– </FONT>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>самостійної
			роботи студента –</FONT></P>
		</TD>
		<TD ROWSPAN=11 WIDTH=203 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Освітньо-кваліфікаційний
			рівень:</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>____________________</FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=94 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Практичні,
			семінарські</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=94 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Лабораторні</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=94 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Самостійна
			робота</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=94 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=106 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER> <FONT SIZE=3>год.</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Індивідуальні
			завдання: </FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>год.</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=214 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Вид
			контролю: </FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=100 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>екз.</FONT></P>
		</TD>
		<TD WIDTH=100 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>залік</FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.03in; margin-top: 0.28in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 1.56in; margin-top: 0.35in; background: #ffffff; line-height: 0in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-left: 1.56in; margin-top: 0.35in; background: #ffffff; line-height: 0in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-left: 1.56in; margin-top: 0.35in; background: #ffffff; line-height: 0in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 1.56in; margin-top: 0.35in; background: #ffffff; line-height: 0in">
<BR>
</P> 
