
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0in; background: #ffffff; line-height: 150%; page-break-before: always">
<FONT SIZE=3><B>2. МЕТА ТА ЗАВДАННЯ
НАВЧАЛЬНОЇДИСЦИПЛІНИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><B>2.1. Мета викладання дисципліни</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><B>2.2. Завдання вивчення дисципліни</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; line-height: 150%">
<FONT SIZE=3><SPAN LANG="uk-UA"><B>2.3. </B></SPAN><SPAN LANG="uk-UA"><B>У
результаті вивчення навчальної дисципліни
студент повинен </B></SPAN></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.39in; line-height: 150%">
<FONT SIZE=3><SPAN LANG="uk-UA"><B>знати</B></SPAN><SPAN LANG="uk-UA">:
.</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.39in; line-height: 150%">
<FONT SIZE=3><SPAN LANG="uk-UA"><B>вміти</B></SPAN><SPAN LANG="uk-UA">:
.</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><B>2.4. Міждисциплінарні
зв'язки. </B></SPAN><SPAN LANG="uk-UA">Перелік дисциплін
із зазначенням розділів (тем), засвоєння
яких студентам необхідно для вивчення
даної дисципліни</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<BR>
</P> 
