<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%; page-break-before: always">
<FONT SIZE=4>МІНІСТЕРСТВО ОСВІТИ І НАУКИ
УКРАЇНИ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ
УНІВЕРСИТЕТ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=2>_______________________________________________________________________________</FONT></P>
<H1 LANG="uk-UA" CLASS="western"><FONT SIZE=1 STYLE="font-size: 8pt">(назва
навчальної дисципліни)</FONT></H1>
<H1 LANG="uk-UA" CLASS="western"></H1>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<H1 LANG="uk-UA" CLASS="western"></H1>
<H1 LANG="uk-UA" CLASS="western" STYLE="text-transform: uppercase"><B>Програма</B></H1>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4><B>навчальної
дисципліни </B></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4><B>підготовки
________________________</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER>                        
    <FONT SIZE=1 STYLE="font-size: 8pt"><B>(назва
освітньо-кваліфікаційного рівня)</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4><B>галузі
знань _________________________________</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER>                        
         <FONT SIZE=1 STYLE="font-size: 8pt"><B>(шифр і назва
галузі знаннь)</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER> <FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>напряму/спеціальності
_____________________________________</B></SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.98in; text-indent: 0.49in">
<FONT SIZE=1 STYLE="font-size: 8pt"><B>(шифр і назва
напряму)</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER> <FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>(шифр
за ОПП________)</B></SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4><B>20_____ </B></FONT>
</P>

 
 
