<!doctype html>
<html>
<head>
  <style>		
	.page3 p{
		line-height:1;
		font-family: "Times New Roman", serif; 
		font-size: 14pt; 
		so-language: uk-UA;
	}
		
		.page3 div.pre-container {
			margin: 0px;
		}

		.page3 .headers1 p {
			font-size: 13pt;
			line-height: 1.1;
			text-align: center;
		}
			.page3 p.header1 {
				margin-top: 0in;
				margin-bottom: 0in;
			}
			.page3 p.header2 {
				margin-top: 0.1in;
				margin-bottom: 0in;
			}

		.page3 .empty1 p,
		.page3 .empty2 p {
			text-align: center;
		}
		
	.page3 .empty1 p{
		line-height:1; 
		font-size: 14pt;
		margin-top: 0.032in;
		margin-bottom: -0.0185in;
	}
		
	.page3 .empty2 p{
		line-height:1; 
		font-size: 14pt; 
		font-weight: bold;
		margin-bottom: 0.05in;
	}
		
	.page3 .headers2 p {
		font-size: 14pt;
		font-weight: bold;
		line-height: 80%;
		text-align: center;
	}

	.pre-container p {
		font-size: 12pt;
		line-height: 10%;
		margin-left: 4.5in;
	}

	.page3 .cityYear p {
	      margin-top: 0.2in;
	      font-size: 12pt;
	      text-align: center;
	} 

  </style>
</head>
<body>
  <div class="page3">

<div class="pre-container">
      <p>Додаток 3</p>
      <p>до наказу</p>
      <p>від {{nmkd.orderDate}} №&nbsp;{{nmkd.order}}</p>
</div>

<P style="
	  margin-top:0.0in;
	  margin-bottom: 0.0in;"><BR>
</P>

<div class="headers1">
      <p class="header1">МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ</p>
      <p class="header2">ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ</p>
      <p class="header1" style="margin-top:0.02in;">ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</p>
      <p class="header2" 
	style="margin-top:0.11in;
	       margin-bottom:-0.02in;" 
       ALIGN=CENTER>ДЕПАРТАМЕНТ НАВЧАЛЬНО-МЕТОДИЧНОЇ РОБОТИ</p>
</div>

<div class="empty1">
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
</div>


<div class="headers2">
      <p>МЕТОДИЧНІ РЕКОМЕНДАЦІЇ</p>
      <p>ДО СКЛАДАННЯ ПРОГРАМИ</p>
      <p>НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</p>
</div>

<div class="empty2">
    <p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
</div>

<div class="cityYear">
      <p>Черкаси – {{nmkd.year}}</p>
</div>

</div>
</body>
</html>

