 
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in">
<FONT SIZE=3>__________, 20__  рік</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 1.56in; text-indent: -1.56in; margin-top: 0in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.25in; background: #ffffff; page-break-before: always">
<FONT SIZE=3><B>ВСТУП</B></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0.52in; margin-top: 0.25in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><SPAN LANG="uk-UA">Робочу програму
укладено відповідно до навчального
плану напряму підготовки / </SPAN><SPAN LANG="uk-UA">спеціальності
__________________________________________________________________________________</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 2.14in; background: #ffffff">
 <FONT SIZE=3><FONT SIZE=2><SPAN LANG="uk-UA">		(шифр і повна
назва)</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 3.08in; text-indent: -3.08in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">_______________________________</SPAN><SPAN LANG="uk-UA">__________________________________________________</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 3.08in; text-indent: -3.08in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.17in; text-indent: -0.15in; background: #ffffff">
<FONT SIZE=3>спеціалізації
________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 2.63in; text-indent: 0.32in; background: #ffffff">
<FONT SIZE=2>(шифр і повна назва)</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.6in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.6in; background: #ffffff">
<FONT SIZE=3>Робочу програму складено па
підставі ___________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 3.08in; text-indent: 1in; background: #ffffff">
<FONT SIZE=2>(назва типової навчальної</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 3.08in; text-indent: -3.08in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">_______________________________</SPAN><SPAN LANG="uk-UA">__________________________________________________</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-left: 3.08in; text-indent: -3.07in; background: #ffffff">
<FONT SIZE=3><FONT SIZE=2><SPAN LANG="uk-UA">програми; ким
і коли </SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">затверджено
програму)</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.6in; margin-top: 0.1in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">Робоча програма
розрахована на студентів
_______________________ </SPAN><SPAN LANG="uk-UA">курсу</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.59in; text-indent: -0.57in; margin-top: 0.14in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">_____________________________________
</SPAN><SPAN LANG="uk-UA">форми навчання
освітньо-кваліфікаційного рівня</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 3.09in; text-indent: -3.07in; margin-top: 0.08in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">______________________</SPAN><SPAN LANG="uk-UA">____________.</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.44in; text-indent: -3.07in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">	</SPAN><FONT SIZE=2><SPAN LANG="uk-UA">(бакалавр,
спеціаліс</SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">т,
магістр)</SPAN></FONT></FONT></P>