 <H3 LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=4>3.
Рекомендована література</FONT></H3>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=4><B>Базова</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.38in; background: #ffffff">
<FONT SIZE=4>1. ...</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=4><B>Допоміжна</B></FONT></P>
<P LANG="uk-UA" STYLE="text-indent: 0.38in; line-height: 150%">1. ...</P>
<P LANG="uk-UA" STYLE="text-indent: 0.38in; line-height: 150%"><BR>
</P>
<P LANG="uk-UA" STYLE="text-indent: 0.38in; line-height: 150%"><B>4.
Форма підсумкового контролю успішності
навчання</B>
____________________________________________________________________</P>
<P LANG="uk-UA" STYLE="text-indent: 0.38in; line-height: 150%"><BR>
</P>
<P LANG="uk-UA" STYLE="text-indent: 0.38in; line-height: 150%"><B>5.
Засоби діагностики успішності навчання
</B>____________________________________________________________________</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P> 
 
