<P LANG="uk-UA" CLASS="western" STYLE="page-break-before: always">
РОЗРОБЛЕНО ТА ВНЕСЕНО: 
</P>
<P LANG="uk-UA" CLASS="western" STYLE="text-indent: 0.49in"><U>Черкаським
національним університет імені Богдана
Хмельницького</U></P>
<P LANG="ru-RU" CLASS="western">                                     
  <FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">	  </SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">(повне
найменування вищого навчального закладу)</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=4>РОЗРОБНИКИ
ПРОГРАМИ:
____________________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER><FONT SIZE=3><FONT SIZE=2><SPAN LANG="uk-UA">(ініціали,
прізвище</SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">,
</SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">науковий
ступінь, учене звання, посада)</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=4>____________________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western"><FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">____________________________________________________________________</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 1.92in; text-indent: -1.92in; background: #ffffff">
<FONT SIZE=4>РЕЦЕНЗЕНТИ:</FONT></P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=4>____________________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER><FONT SIZE=3><FONT SIZE=2><SPAN LANG="uk-UA">(ініціали,
прізвище</SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">,
</SPAN></FONT><FONT SIZE=2><SPAN LANG="uk-UA">науковий
ступінь, учене звання, посада)</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western"><FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">____________________________________________________________________</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=4>____________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=4>Обговорено та
рекомендовано до затвердження Вченою
радою інституту / факультету </FONT>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=4>____________________________________________________________________
</FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=2>(назва
інституту / факультету)</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER>“<FONT SIZE=4>_______”
 __________________ 20___ року, протокол №___</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-top: 0.23in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>Затверджено Вченою радою
Черкаського національного університету
імені Богдана Хмельницького</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.01in; margin-top: 0.23in; background: #ffffff; line-height: 0.17in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER>“<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">_______”
 __________________ 20____, протокол №___</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>