<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.38in; line-height: 150%; page-break-before: always">
<FONT SIZE=3><STRONG><FONT SIZE=4><SPAN LANG="uk-UA"><SPAN STYLE="font-weight: normal">Навчальна
програма – </SPAN></SPAN></FONT></STRONG><FONT SIZE=4><SPAN LANG="uk-UA">основний
науково-теоретичний документ, що визначає
місце і значення навчальної дисципліни
в реалізації освітньо-професійної
підготовки студента, її зміст, обсяг
знань, умінь і навичок, якими повинен
володіти фахівець, послідовність і
організаційні форми вивчення навчальної
дисципліни. Навчальні програми нормативних
дисциплін належать до документів
державного стандарту, розробляються і
затверджуються як його складові.
Навчальні програми вибіркових дисциплін
розробляються на 3-5 років кафедрами
університету і затверджуються вченою
радою ВНЗ.</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.38in; line-height: 150%">
<FONT SIZE=4>Програма навчальної дисципліни
розробляється на основі освітньо-професійної
програми.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>Програму навчальної дисципліни
друкують на листку формату А4 (210 х 297
мм), вона зберігається на кафедрі.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.43in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.44in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">Програма
навчальної дисципліни </SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">має
таку структуру:</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.44in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>* титульний аркуш,</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.45in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>* вступ,</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.45in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>* основну частину.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.43in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.45in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>* Титульний
аркуш </B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">програми
містить:</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-right: 0in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">найменування
міністерства, якому підпорядкований
навчальний </SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">заклад;</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.45in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>повне найменування вищого
навчального закладу;</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-right: 0in; text-indent: 0.44in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>назву навчальної дисципліни;</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-right: 0in; text-indent: 0.44in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>назву освітньо-кваліфікаційного
рівня;</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">назву </SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">галузі
знань, напряму підготовки / спеціальності;</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>шифр програми за ОПП;</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.46in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>рік видання.</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.46in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>2 сторінка
</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">містить:</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">повне найменування
вищого навчального закладу, яким
розроблено програму</SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">;</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.06in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">ініціали та
прізвище укладача(ів), науковий ступінь,
учене звання, посаду розробників
</SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">програми;</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.06in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">ініціали та
прізвище укладача(ів), науковий ступінь,
учене звання, посаду </SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">рецензентів
програми;</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.06in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>відомості про рекомендацію до
затвердження Вченою радою інституту /
факультету;</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.43in; margin-right: 0.51in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>відомості про затвердження
Вченою радою університету;</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.43in; margin-right: 0.51in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>ББК;</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.43in; margin-right: 0.51in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>УДК;</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.43in; margin-right: 0.51in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>ISBN;</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: -0in; text-indent: 0.43in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">відомості про
авторські права</SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">.
Відповідно до чинного законодавства,
авторські права на програму навчальної
дисципліни належать Черкаському
національному університету імені
Богдана Хмельницького. Тому у програмі
робиться запис «ЧНУ, </SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA"><I>рік</I></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">».
</SPAN></FONT></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.43in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>Вступ</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">
містить інформацію про назву навчальної
дисципліни, назву освітньо-кваліфікаційного
рівня. Наводиться інформація про предмет
вивчення навчальної дисципліни,
міждисциплінарні зв’язки. Вказують
назви змістових модулів.  </SPAN></FONT></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<FONT SIZE=4>Основна частина складається з
5 розділів.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>Розділ 1</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">
«Мета та завдання навчальної дисципліни»
містить інформацію про мету викладання
дисципліни, її завдання; відомості про
знання та вміння, що набуває студент
при її вивченні.; кількість годин, що
відводиться на дисципліну та кількість
кредитів ЄКТС.</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>Розділ 2
</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">«Інформаційний
обсяг навчальної дисципліни» містить
д</SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">окладний
зміст (питання) за окремими темами. Теми
об’єднані у змістові модулі. </SPAN></FONT></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.01in; margin-right: 0.01in; text-indent: 0.42in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>Розділ 3
</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">«Рекомендована
література» включає базову та допоміжну
літературу.</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.01in; margin-right: 0.01in; text-indent: 0.42in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>До списку рекомендованої
літератури слід включати нові видання
підручників, навчальних посібників,
журнальних статей, збірників наукових
праць з урахуванням їх наявності в
науковій бібліотеці університету.
Список джерел розміщують в алфавітному
порядку прізвищ перших авторів або
заголовків. Бібліографічний опис джерел
складають відповідно до чинних стандартів.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>Розділ 4</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">
«Форма підсумкового контролю успішності
навчання» − вказують відповідну форму
підсумкового контролю, передбачену
навчальним планом.</SPAN></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>Розділ 5.</B></SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">
«Засоби діагностики успішності навчання».
Для діагностики успішності навчання
студентів, як правило застосовують
наступні засоби: усне опитування на
семінарських, практичних заняттях;
письмові контрольні роботи (у т.ч. у
тестовій формі); індивідуальні завдання;
тестові і практичні контрольні завдання
для підсумкової експертизи знань, пакет
ККР тощо. У програмі вказують перелік
засобів діагностики, що використовується
у ході викладання дисципліни.</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.37in; line-height: 150%">