
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><B>5. ТЕМАТИКА І ЗМІСТ ЛЕКЦІЙ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>ЗМІСТОВИЙ МОДУЛЬ 1 НАЗВА МОДУЛЯ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><B>Лекція 1</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><I><B>Вступ </B></I></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><SPAN LANG="uk-UA"><B>(0,5 </B></SPAN><SPAN LANG="uk-UA">год.)</SPAN></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Тема І. </B></I></SPAN><SPAN LANG="uk-UA"><I>Назва
теми </I></SPAN></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>(1,5 год.)</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Логіка викладу:</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3>1.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><SPAN LANG="uk-UA">2</SPAN><SPAN LANG="uk-UA">.</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.01in; text-indent: 0.43in; margin-top: 0.07in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3>3.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.01in; text-indent: 0.43in; margin-top: 0.07in; background: #ffffff; line-height: 0.07in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 3.17in; margin-right: 0.15in; text-indent: -2.54in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Рекомендована
література:	</B></I></SPAN><SPAN LANG="uk-UA">зазначити
помер джерела за списком рекомендованої
літератури, за потреби – сторінки: 27,
38-47; 20,117-120.</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><B>6. ТЕМАТИКА ТА ЗМІСТ СЕМІНАРСЬКИХ
ЗАНЯТЬ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>ЗМІСТОВИЙ МОДУЛЬ 1 НАЗВА МОДУЛЯ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><B>Семінарське заняття №1 </B></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Тема 1. </B></I></SPAN><SPAN LANG="uk-UA"><I>Назва
теми </I></SPAN></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>(кількість годин) </FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Мета:</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Зміст семінарського заняття</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Завдання для обов'язкового
виконання</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>1. Домашні завдання:</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>2. Аудиторні завдання:</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 3.17in; margin-right: 0.15in; text-indent: -2.54in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Рекомендована
література:	</B></I></SPAN><SPAN LANG="uk-UA">зазначити
помер джерела за списком рекомендованої
літератури, за потреби – сторінки: 27,
38-47; 20,117-120.</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><B>7. ТЕМАТИКА ТА ЗМІСТ ПРАКТИЧНИХ
ЗАНЯТЬ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>ЗМІСТОВИЙ МОДУЛЬ 1 НАЗВА МОДУЛЯ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><B>Практичне заняття №1 </B></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Тема 1. </B></I></SPAN><SPAN LANG="uk-UA"><I>Назва
теми </I></SPAN></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>(кількість годин) </FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Мета:</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Зміст практичного заняття</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Завдання для обов'язкового
виконання</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>1. Домашні завдання:</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>2. Аудиторні завдання:</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 3.17in; margin-right: 0.15in; text-indent: -2.54in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Рекомендована
література:	</B></I></SPAN><SPAN LANG="uk-UA">зазначити
помер джерела за списком рекомендованої
літератури, за потреби – сторінки: 27,
38-47; 20,117-120.</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><B>8. ТЕМАТИКА ТА ЗМІСТ ЛАБОРАТОРНИХ
ЗАНЯТЬ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>ЗМІСТОВИЙ МОДУЛЬ 1 НАЗВА МОДУЛЯ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><B>Лабораторне заняття №1 </B></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Тема 1. </B></I></SPAN><SPAN LANG="uk-UA"><I>Назва
теми </I></SPAN></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>(кількість годин) </FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Мета:</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Зміст лабораторного заняття</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><I><B>Завдання для обов'язкового
виконання</B></I></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>1. Домашні завдання:</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>2. Аудиторні завдання:</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 3.17in; margin-right: 0.15in; text-indent: -2.54in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Рекомендована
література:	</B></I></SPAN><SPAN LANG="uk-UA">зазначити
помер джерела за списком рекомендованої
літератури, за потреби – сторінки: 27,
38-47; 20,117-120.</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><B>9. САМОСТІЙНА РОБОТА </B></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>ЗМІСТОВИЙ МОДУЛЬ 1 НАЗВА МОДУЛЯ</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Тема 1. </B></I></SPAN><SPAN LANG="uk-UA"><I>Назва
теми </I></SPAN></FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<FONT SIZE=3>(кількість годин.) </FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.15in; text-indent: 0.39in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3>Перелік питань для самостійної
роботи:</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.15in; text-indent: 0.39in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3>1.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.15in; text-indent: 0.39in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3>2.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.15in; text-indent: 0.39in; margin-top: 0.16in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3>3. </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-left: 3.07in; text-indent: -2.57in; margin-top: 0.13in; background: #ffffff; line-height: 0.07in">
<FONT SIZE=3><SPAN LANG="uk-UA"><I><B>Рекомендована
література:</B></I></SPAN><SPAN LANG="uk-UA"><I>	</I></SPAN><SPAN LANG="uk-UA">зазначити
номер джерела за списком </SPAN><SPAN LANG="uk-UA">рекомендованої
літератури, </SPAN><SPAN LANG="uk-UA">за потреби –
</SPAN><SPAN LANG="uk-UA">сторінки: </SPAN><SPAN LANG="uk-UA">27,
</SPAN><SPAN LANG="uk-UA">38-47; </SPAN><SPAN LANG="uk-UA">29,
</SPAN><SPAN LANG="uk-UA">117-120.</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.19in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.19in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.19in; background: #ffffff">
<FONT SIZE=3><B>10. ІНДИВІДУАЛЬНІ  ЗАВДАННЯ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.19in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.19in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.19in; background: #ffffff">
<FONT SIZE=3><B>11. МЕТОДИ НАВЧАННЯ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.19in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.19in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.19in">
<FONT SIZE=3><B>12. МЕТОДИ КОНТРОЛЮ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.19in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.1in; text-indent: 0.3in; margin-top: 0.19in">
<FONT SIZE=3><B>13. РОЗПОДІЛ БАЛІВ, ЯКІ ОТРИМУЮТЬ
СТУДЕНТИ</B></FONT></P>
<P LANG="uk-UA" ALIGN=CENTER STYLE="margin-top: 0.17in; margin-bottom: 0.04in; widows: 0; orphans: 0">
<FONT SIZE=3><B>Приклад для заліку</B></FONT></P>
<TABLE WIDTH=598 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=32>
	<COL WIDTH=33>
	<COL WIDTH=33>
	<COL WIDTH=33>
	<COL WIDTH=33>
	<COL WIDTH=52>
	<COL WIDTH=52>
	<COL WIDTH=52>
	<COL WIDTH=63>
	<COL WIDTH=72>
	<TR VALIGN=TOP>
		<TD COLSPAN=9 WIDTH=495 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Поточне
			тестування та самостійна робота</FONT></P>
		</TD>
		<TD ROWSPAN=2 WIDTH=72 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Сума</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=5 WIDTH=221 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Змістовий
			модуль 1</FONT></P>
		</TD>
		<TD COLSPAN=4 WIDTH=260 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Змістовий
			модуль 2</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=32 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т1</FONT></P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т2</FONT></P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т3</FONT></P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т4</FONT></P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т5</FONT></P>
		</TD>
		<TD WIDTH=52 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т6</FONT></P>
		</TD>
		<TD WIDTH=52 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т7</FONT></P>
		</TD>
		<TD WIDTH=52 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т8</FONT></P>
		</TD>
		<TD WIDTH=63 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т9</FONT></P>
		</TD>
		<TD ROWSPAN=2 WIDTH=72 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>100</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=32 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=33 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=52 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=52 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=52 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=63 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" STYLE="text-indent: 0.42in"><FONT SIZE=3>Т1,
Т2 ... Т9 – теми змістових модулів.</FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" ALIGN=CENTER STYLE="margin-top: 0.17in; margin-bottom: 0.04in; widows: 0; orphans: 0">
<FONT SIZE=3><B>Приклад для екзамену</B></FONT></P>
<TABLE WIDTH=634 CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=29>
	<COL WIDTH=25>
	<COL WIDTH=35>
	<COL WIDTH=39>
	<COL WIDTH=29>
	<COL WIDTH=30>
	<COL WIDTH=35>
	<COL WIDTH=24>
	<COL WIDTH=21>
	<COL WIDTH=30>
	<COL WIDTH=39>
	<COL WIDTH=30>
	<COL WIDTH=105>
	<COL WIDTH=48>
	<TR>
		<TD COLSPAN=12 WIDTH=454 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Поточне
			тестування та самостійна робота</FONT></P>
		</TD>
		<TD WIDTH=105 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Підсумковий
			тест (екзамен)</FONT></P>
		</TD>
		<TD WIDTH=48 STYLE="border: 1px solid #000000; padding: 0in 0.04in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Сума</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=105 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Змістовий
			модуль 1</FONT></P>
		</TD>
		<TD COLSPAN=4 WIDTH=157 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Змістовий
			</FONT>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>модуль
			2</FONT></P>
		</TD>
		<TD COLSPAN=5 WIDTH=176 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Змістовий
			</FONT>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>модуль
			3</FONT></P>
		</TD>
		<TD ROWSPAN=3 WIDTH=105 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>50</FONT></P>
		</TD>
		<TD ROWSPAN=3 WIDTH=48 STYLE="border: 1px solid #000000; padding: 0in 0.04in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>100</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=29 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т1</FONT></P>
		</TD>
		<TD WIDTH=25 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т2</FONT></P>
		</TD>
		<TD WIDTH=35 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т3</FONT></P>
		</TD>
		<TD WIDTH=39 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т4</FONT></P>
		</TD>
		<TD WIDTH=29 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т5</FONT></P>
		</TD>
		<TD WIDTH=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т6</FONT></P>
		</TD>
		<TD WIDTH=35 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т7</FONT></P>
		</TD>
		<TD WIDTH=24 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т8</FONT></P>
		</TD>
		<TD WIDTH=21 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т9</FONT></P>
		</TD>
		<TD WIDTH=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т10</FONT></P>
		</TD>
		<TD WIDTH=39 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т11</FONT></P>
		</TD>
		<TD WIDTH=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Т12</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=29 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=25 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=35 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=39 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=29 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=35 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=24 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=21 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=39 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
		<TD WIDTH=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" STYLE="text-indent: 0.42in"><FONT SIZE=3>Т1,
Т2 ... Т12 – теми змістових модулів.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.42in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.42in">
<FONT SIZE=3>Приклад за виконання курсового
проекту (роботи)</FONT></P>
<TABLE WIDTH=625 CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=161>
	<COL WIDTH=157>
	<COL WIDTH=176>
	<COL WIDTH=96>
	<TR>
		<TD WIDTH=161 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Пояснювальна
			записка</FONT></P>
		</TD>
		<TD WIDTH=157 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Ілюстративна
			частина</FONT></P>
		</TD>
		<TD WIDTH=176 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Захист
			роботи</FONT></P>
		</TD>
		<TD WIDTH=96 STYLE="border: 1px solid #000000; padding: 0in 0.04in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Сума</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=161 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>до ___</FONT></P>
		</TD>
		<TD WIDTH=157 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>до ___</FONT></P>
		</TD>
		<TD WIDTH=176 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>до ___</FONT></P>
		</TD>
		<TD WIDTH=96 STYLE="border: 1px solid #000000; padding: 0in 0.04in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>100</FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3><B>Шкала
оцінювання: національна та ЄКТС</B></FONT></P>
<TABLE WIDTH=643 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=155>
	<COL WIDTH=232>
	<COL WIDTH=212>
	<TR>
		<TD ROWSPAN=2 WIDTH=155 HEIGHT=15 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">Сума
			балів за всі види навчальної діяльності</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=458 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">Оцінка
			за національною шкалою</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=232 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-right: -0.1in">
			<FONT SIZE=3 STYLE="font-size: 13pt">для екзамену,
			курсового проекту (роботи), практики</FONT></P>
		</TD>
		<TD WIDTH=212 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">для
			заліку</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">90-100</FONT></P>
		</TD>
		<TD WIDTH=232 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">відмінно
			 </FONT>
			</P>
		</TD>
		<TD ROWSPAN=5 WIDTH=212 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">зараховано</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">82-89</FONT></P>
		</TD>
		<TD ROWSPAN=2 WIDTH=232 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">добре
			</FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">75-81</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">68-74</FONT></P>
		</TD>
		<TD ROWSPAN=2 WIDTH=232 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">задовільно
			</FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">60-67 </FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">35-59</FONT></P>
		</TD>
		<TD WIDTH=232 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">незадовільно
			з можливістю повторного складання</FONT></P>
		</TD>
		<TD WIDTH=212 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">не
			зараховано з можливістю повторного
			складання</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=155 HEIGHT=32 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in">
			<FONT SIZE=3 STYLE="font-size: 13pt">1-34</FONT></P>
		</TD>
		<TD WIDTH=232 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">незадовільно
			з обов’язковим повторним вивченням
			дисципліни</FONT></P>
		</TD>
		<TD WIDTH=212 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3 STYLE="font-size: 13pt">не
			зараховано з обов’язковим повторним
			вивченням дисципліни</FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3><B>14. МЕТОДИЧНЕ ЗАБЕЗПЕЧЕННЯ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
<FONT SIZE=3>1. ...</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3><B>15. РЕКОМЕНДОВАНА ЛІТЕРАТУРА</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3><B>Базова</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
<FONT SIZE=3>1. ...</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3><B>Допоміжна</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
<FONT SIZE=3>1. ...</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.01in; background: #ffffff; line-height: 0.16in">
<FONT SIZE=3><B>16. ІНФОРМАЦІЙНІ РЕСУРСИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.01in; background: #ffffff; line-height: 0.16in">
<BR>
</P>
<OL>
	<LI><P LANG="uk-UA" CLASS="western" STYLE="background: #ffffff; widows: 0; orphans: 0">
	<FONT SIZE=3>...</FONT></P>
</OL>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.3in; background: #ffffff">
<BR>
</P>