 <P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.5in; page-break-before: always">
<FONT SIZE=4>Додаток 4</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.5in"><FONT SIZE=4>до
наказу </FONT>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.5in"><FONT SIZE=4>від
19.08.2013 №&nbsp;545 – д</FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4>МІНІСТЕРСТВО
ОСВІТИ І НАУКИ УКРАЇНИ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.08in">
<FONT SIZE=4>ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ
УНІВЕРСИТЕТ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4>ІМЕНІ
БОГДАНА ХМЕЛЬНИЦЬКОГО</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.08in">
<FONT SIZE=4>ДЕПАРТАМЕНТ НАВЧАЛЬНО-МЕТОДИЧНОЇ
РОБОТИ </FONT>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="line-height: 150%">
<FONT SIZE=4 STYLE="font-size: 16pt"><B>МЕТОДИЧНІ
РЕКОМЕНДАЦІЇ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="line-height: 150%">
<FONT SIZE=4 STYLE="font-size: 16pt"><B>ДО СКЛАДАННЯ
РОБОЧОЇ ПРОГРАМИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="line-height: 150%">
<FONT SIZE=4 STYLE="font-size: 16pt"><B>З НАВЧАЛЬНОЇ
ДИСЦИПЛІНИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=4>Черкаси
- 2013</FONT></P> 
