<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%; page-break-before: always"> 
<FONT SIZE=4>МІНІСТЕРСТВО ОСВІТИ І НАУКИ
УКРАЇНИ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff">
<FONT SIZE=4>ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ
УНІВЕРСИТЕТ</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff">
<FONT SIZE=4>ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.01in; margin-top: 0in; background: #ffffff; line-height: 150%">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA">ПОГОДЖЕНО:
					</SPAN></FONT><FONT SIZE=4><SPAN LANG="uk-UA">ЗАТВЕРДЖУЮ:</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=4>Начальник
департаменту навчально-	Проректор</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=4>методичної
роботи,&nbsp;доцент			з науково-педагогічної
роботи, доцент</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=4>_________________
М. Н. Гаврилюк	_________________ Ю. В. Андріяко</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2>	(підпис)							
  (підпис)	</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.01in; margin-top: 0in; background: #ffffff; line-height: 150%">
“     “ <FONT SIZE=4>_________________20___ р.		“     “
_________________20___ р.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; margin-top: 0in; background: #ffffff; line-height: 150%">
<FONT SIZE=4 STYLE="font-size: 16pt"><B>РОБОЧА ПРОГРАМА
НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.43in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0in; background: #ffffff">
<FONT SIZE=3>___________________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0in; background: #ffffff">
<FONT SIZE=3>(шифр і назва навчальної дисципліни)</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0in; background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0in; background: #ffffff">
<FONT SIZE=3>___________________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.14in; background: #ffffff">
<FONT SIZE=3>Галузь знань
________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3>(шифр і назва галузі знань)</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-top: 0.14in; background: #ffffff">
<FONT SIZE=3><SPAN LANG="uk-UA">Напрям підготовки
/спеціальність______________________________________________________</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 2.46in; text-indent: 0.49in; background: #ffffff">
<FONT SIZE=3>(шифр і назва напряму підготовки
/ спеціальності)</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0in; background: #ffffff">
<FONT SIZE=3>___________________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.01in; background: #ffffff">
<FONT SIZE=3>Спеціалізація
______________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3>(назва спеціалізації)</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.02in; margin-right: 0.02in; background: #ffffff; line-height: 0.31in">
<FONT SIZE=3>Інститут / факультет
_________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="background: #ffffff">
<FONT SIZE=3>(назва інституту / факультету)</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.02in; margin-right: 0.03in; margin-top: 0.22in; background: #ffffff; line-height: 0.31in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.02in; margin-right: 0.03in; margin-top: 0.22in; background: #ffffff; line-height: 0.31in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.02in; margin-right: 0.03in; margin-top: 0.22in; background: #ffffff; line-height: 0.31in">
<FONT SIZE=3>20___ – 20___ навчальний рік</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="page-break-before: always">
<FONT SIZE=3>Робоча програма
_________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt">(назва
навчальної дисципліни)</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=3>________________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.08in">
<FONT SIZE=3>для студентів за галуззю знань
_____________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.08in; line-height: 150%">
<FONT SIZE=3>напрямом підготовки
(спеціальністю)________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 115%">
<FONT SIZE=4 STYLE="font-size: 16pt">____________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 115%">
<FONT SIZE=3><SPAN LANG="uk-UA">Розробники:</SPAN><FONT SIZE=4 STYLE="font-size: 16pt"><SPAN LANG="uk-UA">____________________________________________________</SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 115%">
<FONT SIZE=4 STYLE="font-size: 16pt">____________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 115%">
<FONT SIZE=4 STYLE="font-size: 16pt">____________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 115%">
<FONT SIZE=4 STYLE="font-size: 16pt">____________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 115%">
<FONT SIZE=4 STYLE="font-size: 16pt">____________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><SUP><FONT SIZE=3>(вказати
авторів, їхні посади, наукові ступені
та вчені звання)</FONT></SUP></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="ru-RU" CLASS="western"><FONT SIZE=3><SPAN LANG="uk-UA">Робочу
програму схвалено на засіданні </SPAN><SPAN LANG="uk-UA">кафедри
 ______________________________________</SPAN></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT SIZE=3>________________________________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Протокол від
“____”________________20___  року № ___</FONT></P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Завідувач
кафедри
_______________________________________________________________</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><BR>
</P>
<P LANG="uk-UA" CLASS="western">                                     
                          <FONT SIZE=3>_______________________
(______________________)</FONT></P>
<P LANG="uk-UA" CLASS="western">                                     
                                                                     
              <FONT SIZE=1 STYLE="font-size: 8pt">(підпис)     
                                         (прізвище та
ініціали)         </FONT>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 4.67in"> <FONT SIZE=3>ЧНУ,
20__ рік</FONT></P> 
