<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Складові навчально-методичного комплексу дисципліни</TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.5.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="ДНМР">
	<META NAME="CREATED" CONTENT="20130819;17020000">
	<META NAME="CHANGEDBY" CONTENT="ДНМР">
	<META NAME="CHANGED" CONTENT="20130821;7330000">
	<STYLE TYPE="text/css">
		
		
		
		
		
		
		
		
		
		
		
		
		
		H1.cjk { font-family: "Times New Roman", serif; font-size: 14pt; font-weight: normal }
		H1.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA; font-weight: normal }
		H3 { text-indent: 0.38in; margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: center; widows: 2; orphans: 2 }
		H3.western { font-size: 16pt; so-language: uk-UA }
		H3.cjk { font-family: "Times New Roman", serif; font-size: 16pt }
		H3.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
		H4 { margin-bottom: 0.04in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
		H4.western { font-size: 14pt; so-language: uk-UA }
		H4.cjk { font-family: "Lucida Sans Unicode", sans-serif; font-size: 14pt }
		H4.ctl { font-family: "Times New Roman", serif; font-size: 14pt; so-language: ar-SA }
	
	
	
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">

